// Register.module.scss

.registerPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  margin-top: 5%;
}

.registerFormContainer {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.registerTitle {
  text-align: center;
  margin-bottom: 24px;
  color: #1890ff;
}

.registerForm {
  .ant-form-item {
    margin-bottom: 16px;
  }
}

.registerInput {
  height: 40px;
  border-radius: 4px;
}

.errorMsg {
  color: red;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.registerButton {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
}

.goToLogin {
  text-align: center;
  margin-top: 24px;

  a {
    color: #1890ff;
  }
}
